.main-layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
	padding: 10px 50px;
	text-align: center;
}

.main-content {
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-content h1 {
	font-size: 30px;
	margin: 20px 0;
}

.logo img {
	height: 40px;
}

.center-logo {
	width: 300px;
}