@import '~antd/dist/antd.css';

.site-layout-content {
  background: #fff;
  padding: 24px 0;
  min-height: 80vh;
}

.logo img {
  height: 40px;
}

.settings {
  margin: 0 20px;
  float: right;
  color: #fff;
}