@import '~antd/dist/antd.css';

.site-layout-content {
  background: #fff;
  padding: 24px 0;
  min-height: 80vh;
}

.logo {
  height: 20px;
  margin: 0 20px;
  float: left;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.settings {
  margin: 0 20px;
  float: right;
  color: #fff;
}